@using (Html.BeginForm("Ara", "Home", FormMethod.Get))
{
    <form class="form-inline my-2 my-lg-0">
        <input type="search" placeholder="Arama Yap" aria-label="Search" name="deger">
        <button type="submit">Ara</button>
    </form>

}

