@model Eticaret2.Models.Kart
<script src="https://kit.fontawesome.com/3b46233d75.js" crossorigin="anonymous"></script>

<ul class="list-group">
    <li class="list-group-item"> Sepet Toplam: @Model.Toplam().ToString("c")</li>
</ul>
